.container-programs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

/* -> Image container*/
.programs-img-container {
  width: 20%;
  height: auto;
}

/* -> Image <- */
.programs-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}

/* -> Title text styling plus span styling*/
.programs-title {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.programs-span {
  background-color: #efb343;
  width: 70px;
  height: 4px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.programs-header {
  letter-spacing: 4px;
  color: #00227a;
  margin: 0;
}
/* `` End Title text styling plus span styling*/

.programs-text-container {
  width: 75%;
}
