.input-content {
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px solid #b3b3b3;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 87%;
  margin-bottom: 15px;
}

.text-box {
  border: 0;
  padding-block: 5px;
  margin-left: 7px;
  outline: none;
  color: #636363;
  width: 100%;
}
