/* {
  background-color: black;
} */
.primary-button {
  background-color: #00227a;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0 10px;
  font-weight: 600;
  font-size: 14px;
}

.secondary-button {
  background-color: white;
  color: #00227a;
  padding: 10px 10px;
  border-radius: 5px;
  border: 2px solid #00227a;
  margin: 0 10px;
  font-weight: 600;
  font-size: 14px;
}

.get-started {
  /* background-color: #00227a; */
  background: linear-gradient(45deg, #00227a, #f7ab4a);
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  /* animation-duration: 3s;
  animation-name: slidein2; */
}

/* @keyframes slidein2 {
  from {
    margin-left: 100%;
    width: 400%;
  }

  to {
    margin-left: 0%;
    width: 24%;
  }
} */

.view-more {
  /* background-color: #f7ab4a; */
  background: linear-gradient(45deg, #00227a, #f7ab4a);
  color: white;

  border: 1px;
  border-color: white;
  border-style: none solid solid none;

  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  box-shadow: 4px 4px #f7ab4a;
}

/* -> Toggle Icon-view in Button component*/
.icon-display {
  display: none;
}

.submit-button {
  padding: 15px 40px;
  border: 0;
  border-radius: 5px;

  color: black;
  font-size: 14px;
  font-weight: 600;

  background-color: #f7ab4a;
}
