/* {
  background-color: black;
} */
.primary-button {
  background-color: #00227a;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0 10px;
  font-weight: 600;
  font-size: 14px;
}

.secondary-button {
  background-color: white;
  color: #00227a;
  padding: 10px 10px;
  border-radius: 5px;
  border: 2px solid #00227a;
  margin: 0 10px;
  font-weight: 600;
  font-size: 14px;
}

.get-started {
  background-color: #00227a;
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
}

.view-more {
  background-color: #f7ab4a;
  color: #00227a;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  box-shadow: 4px 4px #00227a;
}

/* -> Toggle Icon-view in Button component*/
.icon-display {
  display: none;
}
