header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 40px 20px rgba(255, 255, 255, 0.3);
  opacity: 0.9;
  backdrop-blur: 10px;
  backdrop-filter: saturate(200%) blur(20px);
  border-bottom: 1.5px solid white;
}

section {
  margin-top: 80px;
}
