* {
  font-family: "Lexend Deca", sans-serif;
}

/* Header/navbar design with background glass effect*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 40px 20px rgba(255, 255, 255, 0.3);
  /* opacity: 1; */
  /* backdrop-blur: 10px; */
  backdrop-filter: saturate(180%) blur(5px); /* -> add background blur here*/
  border-bottom: 1.5px solid white;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
    display: none;
  }

  to {
    margin-left: 0%;
    width: 100%;
    display: flex;
  }
}

section {
  margin-top: 40px;
}

.welcome-section {
  margin-top: 0;
  margin-top: 70px;
}

.contact-us-section {
  background-color: #fff0dc;
}
